{
  "orchestration": {
    "Sl-Or": {
      "virtualizer_type": "GLOBAL"
    }
  },
  "adaptation": {
    "MANAGERS": [
      "DATAPLANE"
    ],
    "DATAPLANE": {
      "module": "escape.adapt.dataplane",
      "class": "DataplaneDomainManager",
      "poll": false,
      "adapters": {
        "TOPOLOGY": {
          "module": "escape.adapt.dataplane",
          "class": "DataplaneTopologyAdapter",
          "params": [
            "--merge",
            "--dpdk"
          ]
        },
        "REMOTE": {
          "module": "escape.adapt.dataplane",
          "class": "DataplaneRESTAdapter",
          "url": "http://localhost:5000",
          "prefix": ""
        }
      }
    }
  },
  "infrastructure": {
    "UN":  {
     "domain": "Local",
     "inner_saps": [],
     "supported_vnfs": ["simpleForwarder"],
     "ovs_pus": ["PU#0", "PU#1"]
    }
  }
}
