{
  "service": {},
  "orchestration": {
    "ESCAPE-SERVICE": {
      "virtualizer_type": "SINGLE"
    },
    "Sl-Or": {
      "virtualizer_type": "SINGLE",
      "unify_interface": true,
      "diff": true
    }
  },
  "adaptation": {
    "MANAGERS": [
      "DATAPLANE"
    ],
    "DATAPLANE": {
      "module": "escape.adapt.dataplane",
      "class": "DataplaneDomainManager",
      "poll": false,
      "diff": true,
      "adapters": {
        "TOPOLOGY": {
          "module": "escape.adapt.dataplane",
          "class": "DataplaneTopologyAdapter",
          "params": [
            "--merge",
            "--dpdk"
          ]
        },
        "REMOTE": {
          "module": "escape.adapt.dataplane",
          "class": "DataplaneRESTAdapter",
          "url": "http://localhost:5000",
          "prefix": ""
        }
      }
    }
  },
  "infrastructure": {
    "UN":  {
     "domain": "Local",
     "inner_saps": [],
     "supported_vnfs": ["generatorKNI"],
     "ovs_pus": {"PU#0" : [], "PU#1": ["dpdk0", "dpdk1"] }
    }
  }
}
