{
  "orchestration": {
    "ESCAPE-SERVICE": {
      "virtualizer_type": "GLOBAL"
    },
    "Sl-Or": {
      "virtualizer_type": "GLOBAL",
      "unify_interface": true
    }
  },
  "adaptation": {
    "MANAGERS": [
      "DATAPLANE"
    ],
    "DATAPLANE": {
      "module": "escape.adapt.dataplane",
      "class": "DataplaneDomainManager",
      "poll": false,
      "adapters": {
        "TOPOLOGY": {
          "module": "escape.adapt.adapters",
          "class": "StaticFileTopoAdapter",
          "path": "examples/dpdk/tethys_dpdk.nffg"
        },
        "REMOTE": {
          "module": "escape.adapt.dataplane",
          "class": "DataplaneRESTAdapter",
          "url": "http://localhost:5000",
          "prefix": ""
        }
      }
    }
  },
  "infrastructure": {
    "UN":  {
     "domain": "Local",
     "inner_saps": [],
     "supported_vnfs": ["generatorKNI", "forwarderKNI", "simpleForwarderVHOST"],
     "ovs_pus": {"PU#0" : [], "PU#1": ["dpdk0"], "PU#2": ["dpdk1"] }
    }
  }
}



